<?xml version="1.0"?>

<launch>
    <!-- LET's LAUNCH ALL THE CHIP NODES WE NEED -->
    <!-- launch the RIO comms nodes first -->
    <node respawn="true" pkg="CHIP_ROS" type="rio_data_read_node.py" name="DATA_READ"/>
    <node respawn="true" pkg="CHIP_ROS" type="rio_write_node.py" name="DATA_WRITE"/>
    <!-- then launch things like the CoG node and etc -->
    <node respawn="true" pkg="CHIP_ROS" type="robot_COG_node.py" name="COG_NODE"/>
    <!-- finally, launch the master -->
    <node respawn="true" pkg="CHIP_ROS" type="chip_master.py" name="CHIP_MASTER"/>
    <node respawn="true" pkg="CHIP_ROS" type="stabilizer_node.py" name="STABILIZER_NODE"/>
    <!-- LET's LAUNCH THIRD PART NODES LAST -->
    <node respawn="true" pkg="joy" type="joy_node" name="JOYSTICK_INPUT"/>
    <include file="/opt/ros/melodic/share/mavros/launch/apm.launch" />
</launch>